* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
header{
    /*border: solid;*/
    height: 70px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 4px 4px 12px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 12px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 12px 0px rgba(0,0,0,0.75);
    background-color: rgb(254, 183, 69);
    
}
#logo{
    /*border: solid;*/
    width: 200px;
    position: absolute;
    left: 50px;
}
#menu {
    /*border: solid;*/
    display: flex;
    width: 700px;
    justify-content: space-between;

}
#banner{
    /* border: solid; */
    height: 60vh;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(https://store.supercell.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fhero-desktop.bd7fd2e2.png&w=1920&q=75);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px 2px black;
    font-size: 50px;

}
#productos{
    /*border: solid;*/
    height: 50vh;
    /*background-color: rgb(213, 213, 213);*/
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0 2rem;
    background-color:  rgb(42, 150, 186);

}
#productos2{
   
    height: 40vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0 2rem;
    background-color:  rgb(42, 150, 186);
}
.items {
    height: 300px;
    width: 300px;
    -webkit-box-shadow: 4px 4px 12px 0px rgba(94, 94, 94, 0.75);
    -moz-box-shadow: 4px 4px 12px 0px rgba(94, 94, 94, 0.75);
    box-shadow: 4px 4px 12px 0px rgba(94, 94, 94, 0.75);
    background-color: rgb(254, 255, 245); /* Cambia el fondo a blanco */
    border-radius: 10px;
    display: flex; /* Centra elementos verticalmente */
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
}
.items button {
    background-color: rgb(248, 155, 48); 
    color: white; 
    border: none; 
    border-radius: 30px; 
    padding: 8px 16px; 
    cursor: pointer; 
    margin-top: 10px; 
    font-family: "Poppins", sans-serif;

}
#cart-counter {
    background-color: rgb(42, 150, 186); 
    color: white; 
    border: none; 
    border-radius: 15px; 
    padding: 8px 12px; 
    display: flex;
    text-align: center; 
    font-weight: bold; 
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.items .nombre-producto {
    color: rgb(37, 37, 37); /* Cambia el color del texto del nombre del producto a azul */
    font-weight: bold;
    font-family: "Poppins", sans-serif; 
   
    
}

.items .precio-producto {
    color:rgb(96, 96, 96); /* Cambia el color del texto del precio del producto a verde */
}

.abajo{
   
    height: 50%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: rgb(235, 230, 224);
}

#titulo{
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-style: normal;
    color: rgb(254, 183, 69);
    background-color: rgb(238, 235, 230);
    text-shadow: 1px 1px 1px rgb(111, 111, 111);
}
#sign{
    
    width: 100px;
    position: absolute;
    right: 50px;
}

input{
    background-color: black;
    color: white;
    position: center center;
    width: 6vw;
    height: 4vh;
    border-radius: 10px;
    border-bottom: 0;
}
p{
    color: rgb(66, 66, 66);
    
    font-weight: 400;
    font-style: normal;
}
h1{
    
    font-weight: 700;
    font-style: normal;
}
a{
    color: rgb(0, 0, 0);

    font-weight: 700;
    font-style: normal;
    text-decoration: none;
}
